<div id="<%= dom_id peliculapersonaje %>">
  <p>
    <strong>Personaje:</strong>
    <%= peliculapersonaje.personaje_id %>
  </p>

  <p>
    <strong>Pelicula:</strong>
    <%= peliculapersonaje.pelicula_id %>
  </p>

</div>
