<h1>Editing peliculapersonaje</h1>

<%= render "form", peliculapersonaje: @peliculapersonaje %>

<br>

<div>
  <%= link_to "Show this peliculapersonaje", @peliculapersonaje %> |
  <%= link_to "Back to peliculapersonajes", peliculapersonajes_path %>
</div>
